@model Ictshop.Models.Sanpham

@{
    ViewBag.Title = "Chi tiết sản phẩm";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}


<div class="container mt-5">
    <div class="row align-items-center">
        <!-- Hiển thị ảnh sản phẩm -->
        <div class="col-md-5 text-center">
            <img src="@Url.Content(Model.Anhbia)" alt="@Model.Tensp" style="max-height: 350px;">
        </div>

        <!-- Hiển thị thông tin sản phẩm -->
        <div class="col-md-7">
            <h2 class=" fw-bold">@Model.Tensp</h2>
            <p class="text-muted ">@Model.Mota</p>
            <hr />
            <ul class="list-unstyled">
                <li><strong>Hãng sản xuất:</strong> @Model.Hangsanxuat.Tenhang</li>
                <li><strong>Hệ điều hành:</strong> @Model.Hedieuhanh.Tenhdh</li>
                <li><strong>Giá tiền:</strong> <span class="text-danger fw-bold">@String.Format("{0:N0} VND", Model.Giatien)</span></li>
                <li><strong>Số lượng:</strong> @Model.Soluong</li>
                <li><strong>Thẻ SIM:</strong> @Model.Thesim</li>
                <li><strong>Bộ nhớ trong:</strong> @Model.Bonhotrong GB</li>
                <li><strong>RAM:</strong> @Model.Ram GB</li>

            </ul>

            <div class="mt-4 d-flex gap-3">
                <a href="@Url.Action("Index")" class="btn btn-warning">Quay lại danh sách</a>
            </div>
        </div>
    </div>
</div>