@model IEnumerable<Ictshop.Models.Donhang>

@{
    ViewBag.Title = "Danh sách đơn hàng";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
@{
    if (TempData["Message"] != null)
    {
        <div class="alert alert-success">
            @TempData["Message"]
        </div>
    }
}

<h2>Danh sách đơn hàng</h2>

<p>
    @Html.ActionLink("Thêm đơn hàng", "Create", null, new { @class = "btn btn-primary" })
</p>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Mã đơn hàng</th>
            <th>Ngày đặt</th>
            <th>Địa chỉ nhận hàng</th>
            <th>Tình trạng</th>
            <th>Cập nhật đơn hàng</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Madon</td>
                <td>@(item.Ngaydat.HasValue ? item.Ngaydat.Value.ToString("dd/MM/yyyy") : "Chưa có ngày đặt")</td>
                <td>@item.Diachinhanhang</td>
                <td>
                    @if (item.Tinhtrang == 0)
                    {
                        <span class="label label-warning">Chờ xác nhận</span>
                    }
                    else if (item.Tinhtrang == 1)
                    {
                        <span class="label label-info">Đã xác nhận</span>
                    }
                    else if (item.Tinhtrang == 2)
                    {
                        <span class="label label-success">Đã giao</span>
                    }
                    else if (item.Tinhtrang == 3)
                    {
                        <span class="label label-primary">Hoàn thành</span>
                    }
                </td>
                <td>
                    <form action="@Url.Action("UpdateTinhTrang", "Donhangs")" method="post" style="display: inline;">
                        @Html.AntiForgeryToken()
                        <input type="hidden" name="id" value="@item.Madon" />
                        <button type="submit" name="tinhTrang" value="1" class="btn btn-info btn-sm" @(item.Tinhtrang >= 1 ? "disabled" : "")>Xác nhận</button>
                        <button type="submit" name="tinhTrang" value="2" class="btn btn-success btn-sm" @(item.Tinhtrang >= 2 ? "disabled" : "")>Đã giao</button>
                        <button type="submit" name="tinhTrang" value="3" class="btn btn-primary btn-sm" @(item.Tinhtrang >= 3 ? "disabled" : "")>Hoàn thành</button>
                    </form>
                </td>

                <td>
                    @Html.ActionLink("Chi tiết", "Details", new { id = item.Madon }, new { @class = "btn btn-warning btn-sm" })
                </td>
            </tr>
        }
    </tbody>
</table>
